<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta', { title }) %>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container mt-5" style="max-width: 480px">
      <h2 class="mb-5 text-center">Posts</h2>
      <% if (posts.length > 0) { %> <%locals.posts?.forEach((post)=>{%>
      <div class="card mb-4" style="min-height: 200px">
        <div class="card-body">
          <h3 class="card-title fs-5 text-center border-bottom pb-2 mb-3">
            <%= post.title %>
          </h3>
          <p class="card-text"><%= post.post %></p>
        </div>
        <div class="card-footer d-flex flex-wrap justify-content-between">
          <small class="text-body-secondary">
            By <%= post.user.fullname %>
          </small>
          <small class="text-body-secondary">
            <%= humanizeDate(post.updated_at) %> ago
          </small>
        </div>
      </div>
      <%})%> <% } else { %>
      <p class="lead text-center">There are no posts yet!</p>
      <%} %>
    </div>
  </body>
</html>
