<nav class="navbar navbar-expand-lg bg-white border-bottom sticky-top">
  <div class="container">
    <h1>
      <a class="navbar-brand fs-3" href="/">Odin Members Only</a>
    </h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link<%- url === '/' || url === '/posts' ? ' active' : '' %>"
            aria-current="page"
            href="/"
          >
            Home
          </a>
        </li>
        <% if (locals.user) { %>
        <li class="nav-item fst-italic">
          <a
            class="nav-link<%- url === ('/user/' + user.id) ? ' active' : '' %>"
            aria-current="page"
            href="/user/<%= user.id %>"
          >
            <%= user.username %>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link<%- url === '/posts/add' ? ' active' : '' %>"
            aria-current="page"
            href="/posts/add"
          >
            Add Post
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a
            class="nav-link<%- url === '/login' ? ' active' : '' %>"
            href="/user/login"
          >
            Log In
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link<%- url === '/sign-up' ? ' active' : '' %>"
            href="/user/signup"
          >
            Sign Up
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
